.box {
    position: relative;
}

.box::before {
    content: '';
    position: absolute;
    top: 300px;
    left: 30%;
    height: 380px;
    width: 640px;
    background-image: linear-gradient(to right, #FF0D6A, #0500FF, #00FFE0);
    filter: blur(150px);
}

.box::after {
    content: '';
    position: absolute;
    top: 300px;
    left: 30%;
    width: 640px;
    height: 380px;
}

.box h1 {
    position: relative;
    width: 200px;
    height: 23px;
    color: #1E0E62;
    font-family: monospace;
    top: 350px;
    left: 40%;
    margin-inline-start: 95px;
    font-size: 30px;
}

.box h2 {
    position: relative;
    width: 200px;
    height: 23px;
    color: #1E0E62;
    font-family: monospace;
    top: 350px;
    left: 40%;
    margin-inline-start: 50px;
    font-size: 70px;
}

.box p {
    position: relative;
    width: 480px;
    height: 23px;
    color: #1E0E62;
    font-family: 'Courier New', Courier, monospace;
    top: 350px;
    left: 40%;
    opacity: 0.4;
    margin-inline-start: -10px;
    font-size: 25px;
}